<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 
</head>

<body>
<script>
function getNumber() {
  event.preventDefault();
    var minNumber = -1; // The minimum number you want
    var maxNumber = 1; // The maximum number you want
    
    
    var randomnumber = Math.floor(Math.random() * (maxNumber + 1) + minNumber); // Generates random number
  
  console.log(randomnumber);
   setTimeout(function(){ document.getElementById("Number").innerHTML =randomnumber; }, 3000);
  
   setTimeout(function(){  if(randomnumber===0){
   document.getElementById("myNumber").innerHTML ="nutral emotion";
  }
  else if(randomnumber===1){
  document.getElementById("myNumber").innerHTML ="positive emotion";
  }
  else{
   document.getElementById("myNumber").innerHTML ="negative emotion";
  } }, 3000);
 
    return randomnumber; // Returns false just to tidy everything up
}
</script>

 <div class="login">
	<h1>Predict Emotion</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="file">
        <button type="submit" onclick="getNumber()" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>

<div id="Number"></div>
<div id="myNumber"></div>
 </div>


</body>
</html>
